<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
    <!-- 전체 게시물 조회 - 재준 -->
    <select id="getTotalCountUserList" resultType="_int">
        select
            count(*)
        from
            users
    </select>

    <!-- 페이지 별 게시물 조회 - 재준 -->
    <select id="findAllPageUserList" resultType="user">
        select
        no
        , id
        , name
        , nickname
        , gender
        , email
        , phone
        , role
        , category
        , reg_date
        from
        users
        <if test="searchType != null and searchType != '' and searchKeyword != null and searchKeyword != ''">
            where
            ${searchType} like '%' || #{searchKeyword} || '%'
        </if>
        order by
        reg_date desc
    </select>

    <!-- 전체 게시물 조회 - 재준 -->
    <select id="getTotalCountApprovalList" resultType="_int">
        select
            count(*)
        from
            users u right join restaurant r
                on u.no = r.users_no
    </select>

    <!-- 페이지 별 게시물 조회 - 재준 -->
    <select id="getTotalCountRestaurantList" resultType="_int">
        select
            count(*)
        from
            restaurant
    </select>

    <!-- 전체 게시물 조회 - 재준 -->
    <select id="findAllPageApprovalList" resultMap="usersVOMap">
        select
        u.no users_no
        , u.id
        , u.name users_name
        , u.role
        , r.no restaurant_no
        , r.name restaurant_name
        , r.address
        , r.content
        , r.phone
        , r.category
        , r.open_time
        , r.close_time
        , r.reserv_possible
        , r.reg_date
        , r.approval
        from
        users u right join restaurant r
        on u.no = r.users_no
        <if test="searchType != null and searchType != '' and searchKeyword != null and searchKeyword != ''">
            where
                ${searchType} like '%' || #{searchKeyword} || '%'
        </if>
        order by
        reg_date desc
    </select>

    <!-- 페이지 별 게시물 조회 - 재준 -->
    <select id="findAllPageRestaurantList" resultMap="usersVOMap">
        select
        u.no users_no
        , u.id
        , u.name users_name
        , r.no restaurant_no
        , r.name restaurant_name
        , r.address
        , r.content
        , r.phone
        , r.category
        , r.open_time
        , r.close_time
        , r.reserv_possible
        , r.reg_date
        from
            users u right join restaurant r
                on u.no = r.users_no
        <if test="searchType != null and searchType != '' and searchKeyword != null and searchKeyword != ''">
            where
                ${searchType} like '%' || #{searchKeyword} || '%'
        </if>
        order by
            r.reg_date desc
    </select>
    <resultMap id="usersVOMap" type="userVO">
        <id column="users_no" property="no"/>
        <result column="id" property="id"/>
        <result column="users_name" property="name"/>
        <result column="role" property="role"/>
        <association property="restaurant" javaType="restaurant">
            <id column="restaurant_no" property="no"/>
            <result column="users_no" property="usersNo"/>
            <result column="restaurant_name" property="name"/>
            <result column="address" property="address"/>
            <result column="content" property="content"/>
            <result column="phone" property="phone"/>
            <result column="category" property="category"/>
            <result column="open_time" property="openTime"/>
            <result column="close_time" property="closeTime"/>
            <result column="reserv_possible" property="reservPossible"/>
            <result column="total_star" property="totalStar"/>
            <result column="reg_date" property="regDate"/>
            <result column="approval" property="approval"/>
        </association>
    </resultMap>

    <update id="updateRole">
        update
            users
        set
            role = #{role}
        where
            no = #{no}
    </update>
    <update id="updateApproval">
        update
            restaurant
        set
            approval = #{approval}
        where
            no = #{no}
    </update>

    <delete id="deleteApproval">
        delete from
            restaurant
        where
            no = #{no}
    </delete>
</mapper>