<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notification">
    <insert id="insertNotification">
        insert into
            notification
        values (
                   ('noti' || lpad(seq_notification_no.nextval,3,0)),
                   #{usersId},
                   #{content},
                   default,
                   default,
                   #{type})
    </insert>
    <select id="findByUserId" resultType="notification">
        select
            *
        from
            notification
        where
            users_id = #{usersId}
        order by
            no desc
    </select>
    <delete id="deleteNoti">
        delete from
               notification
        where
            no = #{no}
    </delete>
</mapper>