<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="attraction">
    <select id="findAll" resultType="attraction">
        select
            *
        from
            attraction
    </select>
    <select id="findByUserNo" resultType="attraction">
        select
            *
        from
            attraction
        where
            users_no = #{usersNo}
    </select>
    <insert id="insertAttraction">
        insert into
            attraction
        values
            (#{usersNo}, #{restNo})
    </insert>
    <select id="findByUsersNoRestNo" resultType="attraction">
        select
            users_no,
            rest_no
        from
            attraction
        where
            users_no = #{usersNo}
          and
            rest_no = #{restNo}
    </select>
    <delete id="deleteAttraction">
        delete from
               attraction
        where
            users_no = #{usersNo}
          and
            rest_no = #{restNo}
    </delete>
</mapper>